<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <p>Name: <%= budgets.name %></p>
    <p>Date: <%= budgets.date %></p>
    <p>Company: <%= budgets.from %></p>
    <p>Amount: <%= budgets.amount %></p>
    <p>Type: <%= budgets.tags %></p>

    <a href="/budgets">Back to the budget index</a>
    
</body>
</html>